.projectsContainer{
    
    width: 100vw;
    height: 90vh;
    /* border: 2px solid yellow; */
}
#portfolio .headingSecTitle {
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 3.5rem;
    border-bottom: 3px solid rgb(25, 65, 145);
    
}


#portfolio .headingSecDesc {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    width: 45rem;
    padding: 0 1rem;

}


.projectsContent{
    display: flex;
    /* border: 2px solid red; */
    height: 30rem;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid rgb(40, 40, 40);
    border-bottom: 2px solid rgb(40, 40, 40);
    overflow: scroll;
    background: rgb(12, 12, 13);
    

}

.project{
    width: 30rem;
    height: 33rem;
    /* border: 2px solid blue; */
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.projectTitle{
    margin-top: 2rem;
   
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    text-align: center;
    position: relative;
    font-style: italic;
    
}
.projectDesc{
    position: absolute;
    bottom: 4rem;
    text-align: justify;
    
}


.projectImg{
    width: 28rem;
    height: 15rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    
}
.projectTags {
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    color: #666;
    position: absolute; /* Ajoutez cette ligne */
    bottom: 2rem;
  }


@media screen and (max-width:1391px ) {
    .projectsContent{
        flex-wrap:wrap ;
    }

    .project{
        border-bottom: 2px solid rgb(40, 40, 40); /* Ajoutez cette ligne pour le trait séparateur */
    }
    #portfolio .headingSecTitle  {
       
        font-size: 2rem;
    }
    #portfolio .headingSecDesc{
        width: auto;
    }
    
}


@media screen and (max-width:1080px) {
    .projectImg{
        width: 25rem;
        height: 13rem;
        
    }
    .projectDesc{
        padding: 0 2rem;
    }
    .projectTitle{
        font-size: 1.3rem;
    }
    .projectDesc{
        margin-bottom: 2rem;
    }
    .projectTags{
        margin-bottom: 1.5rem;
    }
    
}


@media screen and (max-width: 461px) {
    .projectTitle{
        margin-bottom: 4rem;
    }
}
