.projectsContainer{
    
    width: 100vw;
    height: 90vh;
    /* border: 2px solid yellow; */
}
#portfolio .headingSecTitle {
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 3.5rem;
    border-bottom: 3px solid rgb(25, 65, 145);
    
}


#portfolio .headingSecDesc {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    width: 45rem;

}


.projectsContent{
    display: flex;
    /* border: 2px solid red; */
    height: 30rem;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid rgb(40, 40, 40);
    border-bottom: 2px solid rgb(40, 40, 40);
    overflow: scroll

}

.project{
    width: 30rem;
    height: 30rem;
    /* border: 2px solid blue; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.projectTitle{
    margin-top: 2rem;
    display: block;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    position: relative;
    
}
.projectDesc{
    position: absolute;
    bottom: 2rem;
    text-align: center;
}


.projectImg{
    width: 28rem;
    height: 15rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    
}


@media screen and (max-width:1391px ) {
    .projectsContent{
        flex-wrap:wrap ;
    }

    .project{
        border-bottom: 2px solid rgb(40, 40, 40); /* Ajoutez cette ligne pour le trait séparateur */
    }
    #portfolio .headingSecTitle  {
       
        font-size: 2rem;
    }
    #portfolio .headingSecDesc{
        width: auto;
    }
    
}

