
.contact{
    height: 100vh;
    width: 100vw;
    max-width: 90rem;
    margin: 0 auto;
    overflow: hidden;
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: 2px solid yellow; */
}



.contactForm{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}




.name, .email, .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40,40,40);
}

.submitBtn {
    background: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 3.5rem;
    margin-top: 3rem;
    color: black;
}

.contactTitle {
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 5rem;
    margin-top: 4rem;
    border-bottom: 3px solid rgb(25, 65, 145);

 
}


.contactDesc {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    max-width: 80rem;
    margin-bottom: 1rem;
}

@media screen and (max-height: 833px) {
    .contact{
        margin-top: 10rem;
    }
    .contactTitle{
        font-size: 2rem;
    }
 
    .submitBtn{
        margin-bottom: 5rem;
    }
}



