#intro {
    height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 90rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    max-width: 90rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;

}

.introContent {
    /* border: 2px solid red; */
    width: 80%;

}

.introTitle {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: white;
    font-weight: 800;
}

.introTextContent {
    margin: 3rem auto 0 auto;
    max-width: 60rem;
}

.introText {
    color: white;
    font-size: 1.2rem;
    text-align: justify;
    width: 100%;
    line-height: 1.6;
}

.projectsBtnContent {
    margin-top: 5rem;
    text-align: center;
}

.projectBtn {
    padding: 1rem 5rem;
    font-size: 1.3rem;
    background: #7843e9;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;


}





.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.introPara {
    font-size: medium;
    font-weight: 400;


}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.hireImg {
    object-fit: cover;
    margin: 0 0.25rem;
    color: black;
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
    position: relative;
    right: 0.30rem;
}

@media screen and (max-width: 475px) {


    .introTitle {
        font-size: 1.5rem;

    }

    .introText {
        font-size: 1rem;
    }

    .projectBtn {
        padding: 0.8rem 3rem;
        font-size: 1rem;



    }

}